/* About Section Styles */
.about-section {
    padding: 80px 20px; /* Adjust section padding */
    background-color: #f5f5f5; /* Section background color */
    color: #333; /* Text color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-section .container {
    display: flex;
}

.about-box {
    flex: 1;
    padding: 20px;
    margin: 0 10px; /* Adjust spacing between boxes */
    text-align: center;
    background-color: #fff; /* Box background color */
    border-radius: 5px; /* Box border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    color: #333; /* Box default text color */
}


/* Apply animation with adjusted duration and starting position */
.in-view {
    visibility: visible !important;
    animation: fadeInUp 1.5s ease; /* Adjusted duration */
}

/* Our Goal About Box Styles */
.our-goal-about-box {
    text-align: center;
}

.our-goal-about-box img {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add spacing below the image */
    border-radius: 5px; /* Add a subtle border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
/* CSS for image enlargement on hover */
.our-goal-about-box img {
    transition: transform 0.3s ease; /* Smooth transition */
}

.our-goal-about-box img:hover {
    transform: scale(1.1); /* Enlarge the image by 10% on hover */
}

.our-goal-about-box h2 {
    font-size: 24px; /* Box heading font size */
    margin-bottom: 10px; /* Spacing below box headings */
    color: #333; /* Box heading color */
}

.our-goal-about-box p {
    font-size: 16px; /* Box paragraph font size */
    margin-bottom: 20px; /* Spacing below paragraphs */
    color: #666; /* Box paragraph color */
}

.about-box h2 {
    font-size: 24px; /* Box heading font size */
    margin-bottom: 10px; /* Spacing below box headings */
    color: #333; /* Box heading color */
}

.about-box p {
    font-size: 16px; /* Box paragraph font size */
    margin-bottom: 20px; /* Spacing below paragraphs */
    color: #666; /* Box paragraph color */
}

/* Hover Styles */
.about-box:hover {
    background-color: #1963eb; /* Blue background color */
    color: #fff; /* White text color */
    transition: background-color 0.3s ease-in, color 0.3s ease-out; /* Smooth transition */

}

.about-box::after {
    transition: background-color 0.3s ease; /* Same easing for ::after */
}

.about-box:hover h2,
.about-box:hover p {
    color: #fff; /* White text color */
}
