/* Events Section Styles */
.events-section {
    padding: 80px 20px; /* Adjust section padding */
    background-color: #fff; /* Section background color */
    color: #333; /* Text color */
}

.events-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap;
}

.event {
    flex: 0 0 calc(50% - 20px); /* Adjust width of event boxes */
    margin: 10px;
    padding: 20px;
    background-color: #f5f5f5; /* Box background color */
    border-radius: 5px; /* Box border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Additional CSS for Event Section */

/* Event Title Styles */
.event h2 {
    font-size: 24px; /* Increase font size for event titles */
    margin-bottom: 15px; /* Add more space below event titles */
    color: #333; /* Event title color */
}


/* Event Photo Container Styles */
.event-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around; /* Distribute photos evenly */
    align-items: center; /* Align photos vertically */
    margin-top: 20px; /* Add margin to separate photos from title */
}

/* Event Photo Styles */
.event-photos img {
    width: 240px; /* Set a fixed width for all photos */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners to photos */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    transition: transform 0.3s ease; /* Add smooth hover effect */
    cursor: pointer;

}

/* Hover effect on event photos */
.event-photos img:hover {
    transform: scale(1.1); /* Enlarge photo on hover */
    
}

/* Lightbox Styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    display: block;
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.25s ease;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;
}

.close:hover,
.close:focus {
    color: #26a0eb;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}